// FONTS DEFINITION
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

$headers-font: 'Fraunces', serif;
$primary-font: 'Barlow', sans-serif;

// COLORS DEFINITION
$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$desaturated-cyan: hsl(167, 40%, 24%); // graphic design text
$dark-blue: hsl(198, 62%, 26%); // photography text
$moderate-cyan: hsl(168, 34%, 41%); // footer
$desaturated-blue: hsl(212, 27%, 19%);
$very-dark-grayish-blue: hsl(213, 9%, 39%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);

body {
  margin: 0;
}

h1, h2, h3, a {
 font-family: $headers-font;
}

h1 {
  color: white;
  font-size: 3em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 10vh 0 9vh;
}

p {
  font-family: $primary-font;
}

.banner {
  background-image: url(./images/desktop/image-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  // padding: 1em 2em;
  text-align: center;
  height: 80vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.nav-links {
  // width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    text-decoration: none;
    font-family: $primary-font;
    color: white;
    margin-left: 2em;
  }
}

.btn-white {
  background-color: white;
  color: $desaturated-blue !important;
  text-transform: uppercase;
  font-family: $headers-font !important;
  font-weight: 900;
  padding: 1em 2em;
  border-radius: 40px;
}

.flex {
  display: flex;
  align-items: center;
  img {
    width: 50%;
  }
  .section-content {
    width: 50%;
  }
  .section-text {
    padding: 0 13vw;
    h2 {
      font-size: 2.5em;
      color: $desaturated-blue;
    }
    p {
      color: $dark-grayish-blue;
    }
    a {
      text-transform: uppercase;
      color: $desaturated-blue;
      font-weight: 700;
      position: relative; /* Nécessaire pour positionner le pseudo-élément */
      text-decoration: none; /* Enlève le soulignement par défaut */
    }
    a::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -1px; /* Aligné en bas du texte */
      width: 100%;
      height: 0.5em; /* Ajuste l’épaisseur de la surbrillance */
      // background-color: rgba($yellow, 0.3); /* Couleur jaune avec transparence */
      z-index: -1; /* Place l'effet au-dessus du fond mais en dessous du texte */
  }
    .highlight-yellow::before {
      background-color: rgba($yellow, 0.3); /* Couleur jaune avec transparence */
    }
    .highlight-pink::before {
      background-color: rgba($soft-red, 0.3); /* Couleur jaune avec transparence */
    }
  }
}

.background-img {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  img {
    width: 100%;
  }
}

.center-bottom-content {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 0 12vw 3vh;
  p {
    letter-spacing: -1px;
    font-weight: 500;
    line-height: 150%;
  }
}

#graphic-design {
  color: $desaturated-cyan;
}

#photography {
  color: $dark-blue;
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    margin-top: 5em;
    color: $grayish-blue;
    letter-spacing: 0.3em;
    font-size: 1.3em;
  }
}

.reviews-section {
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
}

.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
  img {
    border-radius: 50%;
    width: 70px;
  }
  p {
    text-align: center;
    padding: 3em 0;
    line-height: 1.7;
    color: $very-dark-grayish-blue;
    font-weight: 500;
  }
  .job-title {
    padding: 0;
    margin: 0;
    color: $grayish-blue;
    font-size: 13px;
  }
  h3 {
    margin: 0 0 0.5em;
    color: $desaturated-blue;
  }
}

.images {
  display: flex;
  img {
    width: 25%;
  }
}

.footer {
  background-color: rgba($moderate-cyan,0.4);
  color: $moderate-cyan;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4em;
}
.logo-footer {
  fill: $moderate-cyan;
  padding-bottom: 0.5em;
}
.links-footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3em;
  a {
    text-decoration: none;
    font-family: $primary-font;
    color: $moderate-cyan;
    padding: 0 1.5em;
  }
}

.social-links {
  padding-bottom: 2em;
  display: flex;
  justify-content: space-evenly;
  svg {
    padding: 0 1em;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-bottom: 0.5em;
}
.attribution a { color: $desaturated-cyan; }
