@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
body {
  margin: 0;
}

h1, h2, h3, a {
  font-family: "Fraunces", serif;
}

h1 {
  color: white;
  font-size: 3em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 10vh 0 9vh;
}

p {
  font-family: "Barlow", sans-serif;
}

.banner {
  background-image: url(./images/desktop/image-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  height: 80vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu a {
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  color: white;
  margin-left: 2em;
}

.btn-white {
  background-color: white;
  color: hsl(212, 27%, 19%) !important;
  text-transform: uppercase;
  font-family: "Fraunces", serif !important;
  font-weight: 900;
  padding: 1em 2em;
  border-radius: 40px;
}

.img-mobile {
  display: none;
}

.flex {
  display: flex;
  align-items: center;
}
.flex img {
  width: 50%;
}
.flex .section-content {
  width: 50%;
}
.flex .section-text {
  padding: 0 13vw;
}
.flex .section-text h2 {
  font-size: 2.5em;
  color: hsl(212, 27%, 19%);
}
.flex .section-text p {
  color: hsl(232, 10%, 55%);
}
.flex .section-text a {
  text-transform: uppercase;
  color: hsl(212, 27%, 19%);
  font-weight: 700;
  position: relative; /* Nécessaire pour positionner le pseudo-élément */
  text-decoration: none; /* Enlève le soulignement par défaut */
}
.flex .section-text a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px; /* Aligné en bas du texte */
  width: 100%;
  height: 0.5em; /* Ajuste l’épaisseur de la surbrillance */
  z-index: -1; /* Place l'effet au-dessus du fond mais en dessous du texte */
}
.flex .section-text .highlight-yellow::before {
  background-color: rgba(250, 212, 0, 0.3); /* Couleur jaune avec transparence */
}
.flex .section-text .highlight-pink::before {
  background-color: rgba(254, 120, 103, 0.3); /* Couleur jaune avec transparence */
}

.background-img {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
}
.background-img img {
  width: 100%;
}

.center-bottom-content {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 0 12vw 3vh;
}
.center-bottom-content p {
  letter-spacing: -1px;
  font-weight: 500;
  line-height: 150%;
}

#graphic-design {
  color: hsl(167, 40%, 24%);
}

#photography {
  color: hsl(198, 62%, 26%);
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonials h2 {
  margin-top: 5em;
  color: hsl(210, 4%, 67%);
  letter-spacing: 0.3em;
  font-size: 1.3em;
}

.reviews-section {
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
}

.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
}
.review img {
  border-radius: 50%;
  width: 70px;
}
.review p {
  text-align: center;
  padding: 3em 0;
  line-height: 1.7;
  color: hsl(213, 9%, 39%);
  font-weight: 500;
}
.review .job-title {
  padding: 0;
  margin: 0;
  color: hsl(210, 4%, 67%);
  font-size: 13px;
}
.review h3 {
  margin: 0 0 0.5em;
  color: hsl(212, 27%, 19%);
}

.images {
  display: flex;
}
.images img {
  width: 25%;
}

.footer {
  background-color: rgba(69, 140, 126, 0.4);
  color: hsl(168, 34%, 41%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4em;
}

.logo-footer {
  fill: hsl(168, 34%, 41%);
  padding-bottom: 0.5em;
}

.links-footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3em;
}
.links-footer a {
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  color: hsl(168, 34%, 41%);
  padding: 0 1.5em;
}

.social-links {
  padding-bottom: 2em;
  display: flex;
  justify-content: space-evenly;
}
.social-links svg {
  padding: 0 1em;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-bottom: 0.5em;
}

.attribution a {
  color: hsl(167, 40%, 24%);
}

/* Icône hamburger, cachée sur les grands écrans, visible sur les petits */
.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger .line {
  width: 25px;
  height: 1px;
  background-color: white;
  display: block;
  margin: 7px auto;
  transition: all 0.3s ease-in-out;
}

.hamburger-active {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.6s;
  transform: rotate(45deg);
}

.hamburger-active .line:nth-child(2) {
  width: 0px;
}

.hamburger-active .line:nth-child(1),
.hamburger-active .line:nth-child(3) {
  transition-delay: 0.3s;
}

.hamburger-active .line:nth-child(1) {
  transform: translateY(12px);
}

.hamburger-active .line:nth-child(3) {
  transform: translateY(-5px) rotate(90deg);
}

/* Menu pour naviguer sur mobile */
.menubar {
  display: none;
  position: absolute;
  top: 10vh;
  width: 85%;
  padding-top: 2em;
  background: white;
  transition: all 0.5s ease-in;
  z-index: 2;
}

.menubar::before {
  content: "";
  position: absolute;
  top: -30px;
  right: 0;
  width: 30px; /* Ajuste la taille selon tes besoins */
  height: 30px;
  background-color: inherit; /* Ou une autre couleur */
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
  z-index: 2; /* Place le triangle derrière le contenu, si nécessaire */
}

.active {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.menubar ul {
  padding: 0;
  list-style: none;
}

.menubar ul li {
  margin-bottom: 32px;
}

.menubar ul li a {
  text-decoration: none;
  color: hsl(210, 4%, 67%);
  font-family: "Barlow", sans-serif;
}

.btn-yellow {
  background-color: hsl(51, 100%, 49%);
  color: hsl(212, 27%, 19%) !important;
  text-transform: uppercase;
  font-family: "Fraunces", serif !important;
  font-weight: 600;
  padding: 1em 2em;
  border-radius: 40px;
}

/* Styles pour les petits écrans */
@media (max-width: 768px) {
  /* Afficher l'icône hamburger sur mobile */
  .hamburger {
    display: block;
  }
  /* Masquer la navbar */
  .nav-menu {
    display: none;
  }
  /* Menu déroulant lorsqu'on clique sur l'icône hamburger */
  .menubar.active {
    display: flex;
    justify-content: center;
  }
  .flex {
    display: block;
    text-align: center;
  }
  .flex img {
    width: 100%;
  }
  .flex .section-content {
    width: 100%;
    padding: 1em 0 2em;
  }
  .flex .section-content p {
    line-height: 1.5;
  }
  .img-mobile {
    display: block;
  }
  .img-desktop {
    display: none;
  }
  .background-img {
    width: 100%;
  }
  .center-bottom-content {
    bottom: 40px;
    padding: 0 1em;
  }
  .center-bottom-content h2 {
    font-size: 2em;
  }
  .center-bottom-content p {
    line-height: 1.7;
    letter-spacing: 0.5px;
  }
  .testimonials h2 {
    font-size: 1em;
  }
  .reviews-section {
    display: block;
    padding: 0;
  }
  .review p {
    padding: 1em 0;
  }
  .images {
    display: flex;
    flex-wrap: wrap;
  }
  .images img {
    width: 50%;
  }
}

/*# sourceMappingURL=styles.css.map */
